.pay_for_page{
    background: #060515;
    padding: 1rem;
    color: white;
}

.pay_for_page h1{
    text-align: center;
    color: white;
}

.all_container{
    background: linear-gradient(to top, #080818, #1B1B29);
    border-radius: 15px 15px 15px 15px;
    margin-left: 10.1vw;
    margin-right: 10.1vw;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 50% 50%;
}

.user_h2_container{
    justify-content: center;
    display: grid;
    grid-template-rows: 50% 50%;
}

.button_logout{
    font-size: 2vw;
}

.button_book{
    background-color: #897979;
}

.logout_button_container{
    justify-content: center;
    display: flex;
    padding: 1rem;
}
.info_container{
    padding: 1rem;
}
.info_container h3{
    font-size: 2vw;
}

.info_container p{
    font-size: 1.5vw;
    font-weight: 200;
}


.user_part{
    border-right: 3px solid rgba(255, 255, 255, 0.4);
}

.f_container{
    padding-left: 1rem;
}

.ticket_page{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #060515;
    padding: 1rem;
    color: white;
}

.ticket_page h1{
    text-align: center;
    color: white;
}

.ticket {
    background: #1B1B29;
    border-radius: 15px;
    margin-left: 11.1rem;
    margin-right: 11.1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: inline-block;
    overflow: auto;
  }
  
.ticketContent{
    display: grid;
    grid-template-columns: 60% 40%;
    background: #1B1B29;
}


.ticket_info{
    padding-left: 3rem;
}
  .QR_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-right: 3rem;
  }
  
  .download_button {
    background-color: #897979;
    padding: 8px 20px;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  .b_con {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }


/* Media Queries */

/* @media screen and (max-width: 1077px) {
    .pay_for_page h1, .ticket_page h1 {
        font-size: 4vw;
    }
    .button_logout, .button_book, .download_button {
        font-size: 1.5vw;
    }
    .ticket_info, .QR_cont {
        padding-left: 2vw;
        padding-right: 2vw;
    }
}

@media screen and (max-width: 992px) {
    .all_container, .ticket {
        margin: 2rem 1rem;
    }
    .all_container {
        grid-template-columns: 1fr;
    }
    .ticketContent {
        grid-template-columns: 1fr;
    }
    .user_part {
        border: none;
    }
} */
@media screen and (max-width: 1000px) {
    .all_container, .ticket {
        margin: 1rem 0.5rem;
        /* padding: 1rem; */
    }

    .pay_for_page h1, .ticket_page h1 {
        font-size: 5vw;
    }
    .button_logout, .button_book, .download_button {
        font-size: 3vw;
        padding: 1vw 2vw;
    }
    .ticket_info, .QR_cont {
        padding: 1vw;
    }

    .info_container h3{
        font-size: 2.5vw;
        font-weight: 300;
    }
    
    .info_container p{
        font-size: 2.5vw;
        font-weight: 200;
    }
}

@media screen and (max-width: 500px) {
    .all_container, .ticket {
        margin: 1rem 0.5rem;
        /* padding: 1rem; */
    }
    .all_container, .ticketContent {
        grid-template-columns: 1fr;
    }
    .pay_for_page h1, .ticket_page h1 {
        font-size: 5vw;
    }
    .button_logout, .button_book, .download_button {
        font-size: 3vw;
        padding: 1vw 2vw;
    }
    .ticket_info, .QR_cont {
        padding: 1vw;
    }
    .user_part{
        border-right: 0;
        border-bottom: 3px solid rgba(255, 255, 255, 0.4);
    }

    .info_container h3{
        font-size: 4vw;
        font-weight: 300;
    }
    
    .info_container p{
        font-size: 4vw;
        font-weight: 200;
    }
}
  