.pay_for_page{
    background: #060515;
    padding: 1rem;
    color: white;
}

.pay_for_page h1{
    text-align: center;
    color: white;
}

.all_container{
    background: linear-gradient(to top, #080818, #1B1B29);
    /* display: grid;
    grid-template-rows: 1fr 1fr; */
    border-radius: 15px 15px 15px 15px;
    margin-left: 11.1rem;
    margin-right: 11.1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 50% 50%;
}

.user_h2_container{
    justify-content: center;
    display: grid;
    grid-template-rows: 50% 50%;
}

.button_logout{
    font-size: 1.3rem;
}

.button_book{
    background-color: #897979;
}

.logout_button_container{
    justify-content: center;
    display: flex;
    padding: 1rem;
}
.info_container{
    padding: 1rem;
}

.user_part{
    border-right: 3px solid rgba(255, 255, 255, 0.4);
}

.f_container{
    padding-left: 1rem;
}

.ticket_page{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #060515;
    padding: 1rem;
    color: white;
}

.ticket_page h1{
    text-align: center;
    color: white;
}

.ticket {
    background: #1B1B29;
    border-radius: 15px;
    margin-left: 11.1rem;
    margin-right: 11.1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: inline-block; /* Робить дів вирівняним зліва та автоматично змінює його розмір */
    overflow: auto;
  }
  
.ticketContent{
    display: grid;
    grid-template-columns: 60% 40%;
    background: #1B1B29;
}


.ticket_info{
    padding-left: 3rem;
}
  .QR_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-right: 3rem;
  }
  
  .download_button {
    background-color: #897979;
    padding: 8px 20px;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  .b_con {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  