.sign_page{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('C:\Users\Anna\универ\Дипломна робота\cinema\website\public\images\posters.jpg');
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
    padding: 1rem;
    color: white;
}

.sign_page h1{
    text-align: center;
    color: white;
    margin-left: 7rem;
    margin-right: 7rem;
}

.sign_up {
    background: #1B1B29;
    border-radius: 15px;
    margin-left: 11.1rem;
    margin-right: 11.1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: inline-block; /* Робить дів вирівняним зліва та автоматично змінює його розмір */
    overflow: auto;
  }

.user_inf{
    display: grid;
    justify-content: center;
    align-items: center;
    overflow: auto;
    margin-left: 7rem;
    margin-right: 7rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}