.seat {
  width: 50px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer; /* Додаємо курсор вказівника для вільних місць */
}

.seat-free {
  background-color: #41E181;
  color: white;
}

.seat-occupied {
  background-color: #E14141;
  color: white;
}

.seat-selected {
  background-color: #419EE1; /* Додаємо колір для обраних місць */
  color: white;
}

.seat:disabled {
  cursor: not-allowed; /* Зміна курсора для зайнятих місць */
}


.seat-grid{
  color: white;
}

.seat-row {
  display: flex;
  justify-content: center;
  padding-right: 1rem;
}

.number-row  {
  text-align: center;
  padding: 1rem;
  font-size: 16px;
}

.payment-section p{
  text-align: center;
  margin-bottom: 0rem;
}

.payment-button{
  background-color: white;
  padding: 8px 20px;
  font-size: 1.5rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #514545;
  outline: none;
  border: none;
  cursor: pointer;
}
.button-cont{
  display: flex;
  justify-content: center;
}

.screen{
  background-color: #514545;
  width: auto;
  height: 0.7rem;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.seats{
  width: 100%;
  display: grid;
  /* grid-template-columns: 40% 60% */
}