.user_h2_container {
    text-align: center;
  }
  
  .user_h2_container h2 {
    color: white;
    padding-top: 1rem;
    padding-bottom: 2rem; 
  }
  
  .form .form-control {
    background-color: #060515;
    border: none;
    caret-color: black;
    color: white;
  }

  .form  .form-control:focus {
    background-color: #060515;
    color: white; 
  }

.form .form-control:-webkit-autofill {
    background-color: #060515;
    color: white; 
    caret-color: black;
  }

.form-label {
    color: white; /* Змініть колір тексту на бажаний */
    font-size: 1.5rem; /* Змініть розмір шрифту на бажаний */
  }

.form-container{
  justify-content: center;
  padding: 0 7rem 3rem 7rem;
}

.button_user {
  background-color: #897979;
  
}

.button_contr {
  justify-content: center;
  display: grid;
  padding-top: 1rem;
}