.about_container {
    display: flex;
    /* flex-flow: column; */
    /* align-items: center; */
    max-width: 90%;
    width: 90%;
    height: 90%;
    margin: 0 auto;
  }

.text {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    
}
.ptxt{

    margin-top: 25px;
    margin-bottom: 25px;
}

.about__item__img {
    /* position: absolute; */
    float:left;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    width: 500px;
    max-width: 500px;
    height: 500px;
    max-height: 500px;
    object-fit: cover;
    transition: all 0.2s linear;
  }
  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .about_container {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .cards__item__info {
      margin-bottom: 2rem;
    }
  }

  .about_page_container{
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1520px;
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  }
  .about_page_container>h5{
    color: #252e48;
    font-size: 18px;
    padding: 20px 30px 30px;
    line-height: 24px;
    text-align: justify;
  }
