.seat {
  width: 50px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer; /* Додаємо курсор вказівника для вільних місць */
}

.seat-free {
  background-color: green;
  color: white;
}

.seat-occupied {
  background-color: red;
  color: white;
}

.seat-selected {
  background-color: #66CCFF; /* Додаємо колір для обраних місць */
  color: white;
}

.seat.selected {
  background-color: gray; /* Сірий колір для обраних місць */
}

.seat:disabled {
  cursor: not-allowed; /* Зміна курсора для зайнятих місць */
}
